/* montserrat-100 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Montserrat-Thin.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Montserrat-ThinItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Montserrat-ExtraLight.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/Montserrat-ExtraLightItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Montserrat-Light.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Montserrat-LightItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}


/* montserrat-400 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Montserrat-Italic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}


/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Montserrat-MediumItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBoldItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Montserrat-BoldItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBold.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBoldItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

/* montserrat-900 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Montserrat-Black.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Montserrat-BlackItalic.ttf'); /* IE9 Compat Modes */
    font-display: swap;
}

