* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}

:root {
    --primary-light: #272643;
    --secondary-light: #92a6ca;
    --tertiary-light: #bae8e8;
    --background-light: #e3f6f5;
    --shadow-light: #3e98cc;

    --primary: #e3f6f5;
    --secondary: #bae8e8;
    --tertiary: #92a6ca;
    --background: #272643;
    --shadow: #2c698d;
}

/* #app.light-theme, #app.dark-theme {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light);
    --background: var(--background-light);
    --shadow: var(--shadow-light);
}

#app.dark-theme {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
    --background: var(--background-dark);
    --shadow: var(--shadow-dark);
} */